.login-btn {
  position: absolute;
  left: 50px;
  top: 10px;
}
.post-img {
  background-repeat: no-repeat;
}
.login-input {
  width: 300px;
  margin-bottom: 25px;
}
.loader {
  position: relative;
  width: 20%;
  height: 20%;
  left: 40%;
  margin-top: 200px;
}
.login-avatar {
  position: absolute;
  left: 50px;
  top: 10px;
}
